main header {
  width: 20%;
  height: 100%;
  padding: 10vh 5vw;
  display: flex;
  flex-wrap: wrap; /* 세로로 줄바꿈되도록 처리 */
  align-content: space-between;
  justify-content: center;
  position: relative;
  z-index: 3; /* section요소와 aside요소보다 위에 배치하기 위해 3 지정 */
}

main header h1 {
  font-size: 0; /* 안쪽의 자간과 줄 높이를 초기화 */
  color: #fff;
  text-align: center;
}

main header h1 i {
  font-size: 5vw;
  margin-bottom: 15px;
}

main header h1 span {
  font: normal 0.8vw/1 "arial";
}

main header address {
  font: normal 11px/1.2 "arial";
  color: #888;
}
